<div>
    <form id="post-form">
        <label for="post-title">New Post Title</label>
        <input class="padding-20" type="textarea" name="post-title" id="post-title">
        <label for="post-title">New Text</label>
        <input type="textarea" name="post-text" id="post-body">
        <button id="create-post-btn">Update</button>
    </form>
</div>
<script src="/js/update-post.js"></script>