<form class="signup-form">
        <div>
            <label for="name-signup">name:</label>
            <input id="name-signup" type="text">
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" id="signup-btn">signup</button>
        </div>
    </form>
</div>


<script src="/js/signup.js"></script>